body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a {
  text-decoration: none;
  color: white;
}


h1 {
  text-align: center;
  margin-top: 20px;
  text-decoration: ;
}


img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.header {
  background: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  max-width: 150px;
  display: block;
  border-radius: 10px;
}

.carrinho {
  max-width: 70px;
  display: block;
  border-radius: 5px;
  border-style: thin;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menubutton {
  display: block;
  padding: 10px;
  background: blueviolet;
  border-style: solid;
}

.faixa {
  text-align: center;
  color: white;
  margin-top: 0px;
  background-color: blueviolet;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cabecalho > img{
  max-width: 400px;
  margin: 0 auto;
}

/* CSS flexbox 1 */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 690px;
  margin: auto;
}

.flexbox > .box {
  flex: 1 1 200px;
  margin: 10px;

  flex-grow: 0;
}

.flexbox > div > p {
  margin-left: 30px;
  /* Não estou utilizando o "text-align: center" pq o último item fica bugado */
}

.preco{
  text-decoration: bold;
}

.box {
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.box:hover {
  transform: scale(1.25, 1.25);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}


/* CSS Grid 1 */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  grid-gap: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.grid > div:nth-child(n+4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid > div.banner1 {
  grid-column: 1;
  grid-row: 2 / 6;
  display: block;
}

.grid > div.banner23 {
  display: block;
}

